{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center my-8">Modifier votre ticket</h2>
    <form method="post" enctype="multipart/form-data" style="width:100%;">
        {% include 'review/_form_ticket.html' with form=edit_form %}
        {% csrf_token %}
        <div style="width:100%; display:flex; justify-content:flex-end;">
            <button type="submit" class="bg-blue-600 text-white px-4 py-1 rounded hover:bg-blue-700 font-semibold transition w-32">Envoyer</button>
        </div>
    </form>
{% endblock content %}
