{% extends 'base.html' %}
{% block content %}
    <h2>Tous les posts</h2>
    <div class="grid-container">
        {% for post in posts %}
            <div class="post">
                <p>Ticket - {{ post.user }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}">
                {% endif %}
                <p>{{ post.title }}</p>
                <p>
                    <a href="{% url 'edit_ticket' post.id %}">Modifier</a>
                    |
                    <a href="{% url 'delete_ticket' post.id %}">Supprimer</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}