{% extends 'base.html' %}
{% load review_extras %}
{% load static %}
{% block content %}
    <div class="grid-container">
        <h3 class="text-center my-8">Vos posts</h3>
        {% if posts|length == 0 %}
            <p class="text-center">Aucune publication trouvée.</p>
        {% endif %} 
        {% for post in posts %}
            {% if post.post_type == 'review' %}
                <div class="border-2 border-blue-400 bg-blue-50 rounded-lg shadow p-6 mb-4">
                    <div class="flex justify-between items-center">

                        {% if post.user == user %}
                            <p class="text-sm text-gray-600 font-semibold">Vous avez publié une critique</p>
                        {% else %}
                            <p class="text-sm text-gray-600 font-semibold">{{ post.user }} a publié une critique</p>
                        {% endif %}
                        <p class="text-right mb-0">{{ post.created|date:"H:i, d F Y" }}</p>
                    </div>
                    <div class="flex items-baseline mt-2 gap-4">
                        <h3 class="font-bold text-lg text-blue-900">{{ post.headline }}</h3>
                        <div class="rating-display">
                            {% display_stars post.rating %}
                        </div>
                    </div>
                    <p class="mb-2">{{ post.body }}</p>
                    <div class="border border-gray-300 bg-white rounded p-4 my-4">
                        <span class="font-semibold">Ticket - {% if post.ticket.user == user %}Vous{% else %}{{ post.ticket.user }}{% endif %}</span><br>
                        <span class="font-bold">{{ post.ticket.title }}</span><br>
                        <span>{{ post.ticket.description }}</span>
                        {% if post.ticket.image %}<br>
                            <img src="{{ post.ticket.image.url }}" alt="Image du ticket {{ post.ticket.title }}" class="max-w-[100px] max-h-[100px] rounded mt-2">
                        {% endif %}
                    </div>
                    <div class="button-container-right">
                        <a href="{% url 'edit-review' post.id %}"><button type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold transition w-32">Modifier</button></a>
                        <a href="{% url 'delete-review' post.id %}"><button type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold transition w-32">Supprimer</button></a>
                    </div>
                </div>
            {% elif post.post_type == 'ticket' %}
                <div class="bg-white rounded-lg shadow p-6 mb-4 border border-gray-300">
                    {% if post.user == user %}
                        <p class="text-sm text-gray-600 font-semibold">Vous avez publié un ticket</p>
                    {% else %}
                        <p class="text-sm text-gray-600 font-semibold">{{ post.user }} a publié un ticket</p>
                    {% endif %}
                    {% include "review/_ticket.html" %}
                    <div class="button-container-right">
                        <a href="{% url 'edit-ticket' post.id %}"><button type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold transition w-32">Modifier</button></a>
                        <a href="{% url 'delete-ticket' post.id %}"><button type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold transition w-32">Supprimer</button></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}