{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    <h2 class="text-center my-8">Liste des critiques</h2>
    <div class="grid-container">
        {% for post in reviews %}
            <div class="post" style="border:2px solid #4a90e2; background:#f7faff;">
                {% if post.user == user %}
                    <p>Vous avez publié une critique {{ post.user }}</p>
                {% else %}
                    <p>{{ post.user }} a publié une critique</p>
                {% endif %}
                <p>{{ post.created|date:"H:i, d F Y" }}</p>
                <p><b>{{ post.headline }}</b></p>
                <div class="rating-display mb-2">
                        {% display_stars post.rating %}
                </div>
                <p>{{ post.body }}</p>
                <div style="border:1px solid #aaa; background:#fff; margin:16px 0; padding:10px;">
                    <span>Ticket - {% if post.ticket.user == user %}Vous{% else %}{{ post.ticket.user }}{% endif %}</span><br>
                    <span>{{ post.ticket.title }}</span><br>
                    <span>{{ post.ticket.description }}</span>
                    {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}" alt="Image du ticket {{ post.ticket.title }}" style="max-width:100px;max-height:100px;">
                    {% endif %}
                </div>
                <div style="display:flex; gap:10px;">
                    <a href="{% url 'edit-review' post.id %}"><button type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold transition">Modifier</button></a>
                    <a href="{% url 'delete-review' post.id %}"><button type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 font-semibold transition">Supprimer</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}